/*SIDEBAR*/
.sidebar {
    -fx-background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
}

.sidebar-btn {
    -fx-background-color: transparent;
    -fx-background-radius: Opx;
    -fx-text-fill: #000000;
}

.sidebar-btn:hover {
    -fx-background-color: transparent;
    -fx-background-radius: Opx;
    -fx-text-fill: #000000;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 0px 0px 0px 3px;
}

.sidebar-btn-icon {
    -fx-fill: #000000;
}

/*TOPBAR*/

.topbar {
    -fx-background-color: #ffffff;
}

.topbar-radius {
    -fx-background-radius: 30px Opx 30px 0px;
    -fx-border-radius: 30px Opx 30px 0px;
}

/*PANELPRINCIPAL*/
.panelprincipal {
    -fx-background-color: #c2a6a6;
}

.hb_kal{
    -fx-background-color: black;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
}

.nav_bar_top{
    -fx-background-color: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.body_pane{
    -fx-background-color: white;
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
}

.img_logo{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}